# To Postgresql Database

## Import Dependencies

In [1]:
import pandas as pd
import re

from sqlalchemy import create_engine
import psycopg2

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

from config2 import db_password

## Load data to create 2 Dataframes: Inspections, Violations

In [3]:
# Get datasets.
inspections_dataset = pd.read_csv("./Resources/Clean/clean_inspections.csv")
violations_dataset = pd.read_csv("./Resources/Clean/clean_violations.csv")

In [4]:
# Create Inspections DataFrame
inspections_df = pd.DataFrame(inspections_dataset)
del inspections_df['Unnamed: 0']
inspections_df.head()

,ACTIVITY_DATE,FACILITY_ID,FACILITY_NAME,PROGRAM_NAME,PROGRAM_STATUS,FACILITY_ADDRESS,FACILITY_CITY,FACILITY_STATE,FACILITY_ZIP,SCORE,GRADE,SERIAL_NUMBER,SEATS,LAT,LNG
0,2018-09-10,FA0242046,SERVERY- NICKELODEON,SERVERY- NICKELODEON,ACTIVE,203 W OLIVE AVE # C,BURBANK,CA,91502,96,A,DARRFUZBW,31-60,-118.314661,34.175253
1,2018-07-19,FA0252769,TOMS JR BURGERS,TOMS JR BURGERS,ACTIVE,1030 W MARTIN LUTHER KING JR BLVD STE 108,LOS ANGELES,CA,90037,98,A,DA0XQVMTN,0-30,-118.292543,34.010859
2,2018-08-15,FA0011237,DJ BIBINGKAHAN,DJ BIBINGKAHAN BAKESHOP,ACTIVE,1515 E AMAR RD,WEST COVINA,CA,91792,98,A,DAMPOJNY8,0-30,-117.913926,34.030964
3,2018-09-07,FA0252595,MEJICO GRILL AND TEQUILLA LOUNGE,MEJICO GRILL AND TEQUILLA LOUNGE,ACTIVE,29002 AGOURA RD,AGOURA HILLS,CA,91301,90,A,DAUEU4NGF,151 +,-118.756808,34.143452
4,2018-09-18,FA0158101,MCDONALD'S #10681,MCDONALD'S #10681,ACTIVE,5725 FLORENCE AVE,BELL GARDENS,CA,90201,91,A,DARQIUA45,61-150,-118.163665,33.967791

In [5]:
# Create Violations DataFrame
violations_df = pd.DataFrame(violations_dataset)
del violations_df['Unnamed: 0']
violations_df.head()

,SERIAL_NUMER,VIOLATION_STATUS,VIOLATION_CODE,VIOLATION_DESCRIPTION,POINTS
0,DA000211Z,OUT OF COMPLIANCE,F006,# 06. Adequate handwashing facilities supplied...,2.0
1,DA000211Z,OUT OF COMPLIANCE,F044,"# 44. Floors, walls and ceilings: properly bui...",1.0
2,DA000211Z,OUT OF COMPLIANCE,F014,# 14. Food contact surfaces: clean and sanitized,2.0
3,DA000211Z,OUT OF COMPLIANCE,F029,"# 29. Toxic substances properly identified, st...",1.0
4,DA000211Z,OUT OF COMPLIANCE,F035,# 35. Equipment/Utensils - approved; installed...,1.0

## Connect Dataframes to SQL database

In [ ]:
# Connection string to local server.
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/rats-in-the-restaurant"

In [ ]:
# Create database engine.
engine = create_engine(db_string)

In [ ]:
# Save the inspections_df to a SQL table. 
inspections_df.to_sql(name='clean_inspections', con=engine)

In [ ]:
# Save the violations_df to a SQL table.
violations_df.to_sql(name='violations', con=engine)