In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# Import zip_codes.csv file and create DataFrame.
zip_codes_df = pd.read_csv("/Users/julieal-huneidi/Desktop/Rats-in-the-Restaurants/Resources/zip_codes_.csv")
zip_codes_df.head()

   ZipCode        City State  Latitude  Longitude Classification  Population
0      501  HOLTSVILLE    NY   40.8179   -73.0453              U           0
1      544  HOLTSVILLE    NY   40.7888   -73.0394              U           0
2      601    ADJUNTAS    PR   18.1967   -66.7367            NaN       18570
3      602      AGUADA    PR   18.3529   -67.1775            NaN       41520
4      603   AGUADILLA    PR   18.4586   -67.1299            NaN       54689